.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form {
  width: 952px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.form_container {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.circles_container {
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  gap: 78px 16px;
  flex-wrap: wrap;
}

.input_width {
  width: 204px;
}

.button_width {
  width: 358px;
}