.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.form_item {
    display: flex;
    gap: 12px;
}

.button {
    min-width: 205px;
}

.extra_margin {
    margin-left: 28px;
}

.arr_items {
    height: 340px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}